.k-stepper {
    display: inline-block;
    margin-top: -10px;
    margin-bottom: -10px;
}

.k-stepper > button {
    display: block;
    border-radius: 50%;
    font-size: 35%;
    height: 15px;
    width: 15px;
    padding: 0;

    border: 2px solid white;
}
.k-stepper > .k-stepper-up {
    background-color: #5555ff;
    color: #ffffff;
}
.k-stepper > .k-stepper-down {
    background-color: #ff5555;
    color: #ffffff;
}